PORT=5173
NODE_ENV=development

FRONTEND_URL=http://localhost:8000/api/v1
CLIENT_URL=http://localhost:8000

MONGO_URI=mongodb://localhost:27017/merch-store

API_PREFIX=/api/v1

ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173,http://localhost:8000

GOOGLE_OAUTH_CLIENT_ID=your-google-client-id
GOOGLE_OAUTH_CLIENT_SECRET=your-google-client-secret